html,
body,
.view {
  height: 100%; 
}

@media only screen and (max-width: 374px) and (min-width: 320px){
        .khaigiang p.lich{
            font-size: 18px;
        }
        .khaigiang td.bang1{
            font-size: 10px;     
        }
        .khaigiang td.bang{
            font-size: 10px;
            padding: 12px 7px;
        }
        .footer-right ul{
            width: 205px;
            transform: translate(1px, -6px);
        }
        .footer-main .footer-right li.face{
            padding: 9px 24px;
        }
        .footer-main .footer-right li.mail{
            padding: 9px 19px;
        }
        .footer-main .footer-right li.twitter{
            padding: 9px 15px;
        }
        strong{
            font-size: 25px;
        }
        .footer-left, .footer-all{
            display: none;
        }
        .box17{
            margin-bottom: 20px;
        }
        .footer-right p.lienhe{
            padding-left: 10px !important;
        }
    }

@media only screen and (min-width: 375px) and (max-width: 424px){
        .box17{
            margin-bottom: 30px;
        }
        .footer-right ul{
            width: 400px;
            transform: translate(-4px, -2px);
        }
        .khaigiang p.lich{
            font-size: 29px;
            width: 496px;
        }
        body{
            width: 94vh;
        }
        .footer-left{
            display: none;
        }
        .footer-right p.lienhe{
            padding-left: 10px !important;
        }

          .footer-all .footer1{
            width: 51% !important;
            margin-left: -38px;
            margin-top: 32px;
        }
        .footer-all .footer2{
            width: 54% !important;
        }
        .message{
            display: none;
        }
    }
@media only screen and (min-width: 425px) and (max-width: 767px){
        .box17{
            margin-bottom: 30px;
        }
        .footer-right ul{
            width: 400px;
            transform: translate(-4px, -2px);
        }
        .khaigiang p.lich{
            font-size: 29px;
            width: 510px;
        }
        body{
            width: 100vh;
        }
        .footer-left{
            display: none;
        }
        .footer-right p.lienhe{
            padding-left: 10px !important;
        }
        .footer-all .footer1{
            width: 51% !important;
            margin-left: -38px;
            margin-top: 32px;
        }
        .footer-all .footer2{
            width: 54% !important;
        }
        .message{
            display: none;
        }
    }
@media only screen and (min-width: 768px) and (max-width: 1023px){
        .footer-right ul{
            width: 400px;
            transform: translate(-4px, -2px);
        }
        .khaigiang p.lich{
            font-size: 29px;
            width: 496px;
        }      
        .mask {
            width: 100vw;
        }

        .view {
            width: 114.5vw;
        }
        .goclamviec{
            width: 722px;
        }
        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100vw;
        }
        .duongvien {
            width: 100vw;
        }
        .seriimg{
            width: 114vw;
        }
        .khaigiang td.bang1{
            font-size: 16px;
            padding: 4px 55px;     
        }
        .khaigiang td.bang{
            font-size: 18px;
            padding: 12px 7px;
        }
        .footer-main{
            width: 100vw !important;
        }
        .footer-left{
            font-size: 14px !important;
            padding-left: 0px !important;
            padding-top: 22px !important;
        }
         .footer-all .footer1{
            width: 50% !important;
            margin-left: -38px;
            margin-top: 32px;
        }
        .footer-all .footer2{
            width: 50% !important;
        }
        .message{
            display: none;
        }
       
    }
@media only screen and (max-width: 1999px) and (min-width: 1600px){
        .khaigiang td.bang1{
            font-size: 27px;
            padding: 13px;
            width: 228px;
        }
        .khaigiang td.bang{
            font-size: 27px;
        }
        .khaigiang p.lich{
            font-size: 35px;
        }
       
}



.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }


@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; 
    } 
}

*
{
    margin:0;
    padding:0;
    
}

.logo img {
    width: 65px;
    height: 40px;
    margin-right: 23px;
    border-radius: 2px;
}

td.bang1 {
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px 1px 0px;
}

.khaigiang {
    margin-bottom: 20px;
}

td.bang {
    font-size: 19px;
    padding: 5px 21px 5px 20px;
    text-align: center;
    background-color: #0aa0d91c;
    font-style: italic;
    color: black;
}


table {
}

.khaigiang .lich {
    font-size: 26px;
    text-align: center;
    text-shadow: 3px 0px 0px white;
}

.footer-right p.lienhe {
    font-size: 17px;
    color: white;
    padding: 18px 0 0 169px;
}

.footer-main .footer-right ul {
    margin: -47px 0 0 256px;
}

.footer-main .footer-right a {
    font-size: 24px;
    color: white;
}

.footer-main .footer-right li a {
    transition: all ease 0.3s;
}

.footer-main .footer-right li.face:hover {
    background-color: red;
}

.footer-main .footer-right li {
    display: inline;
    padding: 14px 39px 5px 32px;
}

.footer-main .footer-right li.twitter {
    background-color: #82c1d0;
    border-radius: 7px;
}

.footer-main .footer-right li.twitter:hover {
    background-color: #0c6e9a;
    cursor: pointer;
    transition: all 0.5s;
}













.footer-main .footer-right li.mail {
    background-color: #ce4b4b;
    border-radius: 7px;
    cursor: pointer;
}

.footer-main .footer-right li.mail:hover {
    background-color: #b30f1e;
    transition: all 0.5s;
}

.footer-main .footer-right li.face {
    background-color: #3a579a;
    border-radius: 2px;
}

.footer-main .footer-right li.face {
    background-color: #4b60c5;
    border-radius: 7px;
}

.footer-main .footer-right li.face:hover {
    background-color: #0909a5;
    transition: all 0.5s;
    cursor: pointer;
}

.footer-main .footer-right {
    width: 50%;
    float: left;
}

.footer-main .footer-left {
    width: 50%;
    float: left;
    font-size: 15px;
    color: white;
    padding: 17px 0 0 14px;
}

.footer-main {
    width: 100%;
    height: 64px;
    background-color: #000000eb;
}

.imgthree img {
    width: 25%;
    float: inherit;
}

.imgtwo img {
    width: 25%;
    float: left;
}

.imgfour img {
    width: 25%;
    float: left;
}

.imgone img {
    width: 25%;
    float: left;
}

textarea {
    font-size: 13px;
    padding-left: 6px;
    padding-top: 4px;
    height: 67px;
    width: 260px;
    border-radius: 7px;
    border: 2px solid #00BCD4;
    outline: none;
}

input[type="submit"] {
    width: 120px;
    height: 37px;
    margin-top: 15px;
    background-color: #6197bd;
    border: 2px solid #07cde6ab;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #1b1a1a;
    transition: all 0.5s;
    color: white;
    border-radius: 15px;
    border: 2px solid #00BCD4;
}



input[type="text"] {
    width: 243px;
    padding: 1px 0 0 5px;
    height: 40px;
    font-size: 13px;
    margin-bottom: 12px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #00BCD4;
}

.message p.cauhoi {
    font-size: 21px;
}

.footer2 .address {
    font-size: 13px;
    padding: 0px 0 17px 0;
}

.footer2 .more {
    font-size: 17px;
}

.footer2 .allcn {
    font-size: 21px;
    padding-bottom: 15px;
}

.footer-all .footer1 h7 {
    font-size: 15px;
}

.footer-all .message {
    width: 30%;
    float: left;
    padding-top: 75px;
    margin-left: 39px;
}

.footer-all .footer2 {
    width: 33%;
    float: left;
    padding-top: 52px;
    padding-left: 40px;
}

.footer-all .footer1 {
    width: 33%;
    float: left;
    padding: 22px 0 0 70px;
}

.footer-all {
    background-color: #141c2f;
    color: #ffffffdb;
    width: 100%;
    height: 429px;
    font-family: "open sans", sans-serif;
}

.duongvien {
    width: 100%;
    background-color: blue;
    height: 6px;
    margin-bottom: 40px;
}

.goclamviec {
    font-size: 25px;
    text-align: center;
    margin-bottom: 18px;
    margin-bottom: 23px;
}


body {
    background: #d3ddf5;
}
.main{
    width: 300px;
    height: 326px;
    float:left;
    margin-right: 20px;
    text-align:center;
    background: white;
    color: black;
    margin-bottom: 10px;
    margin-top:5px;
}




.box17{
    position:relative;
    overflow: hidden;
}

.text-center{
    margin: 44px 0 18px 0;
    font-size: 26px;
    font-weight: bold;
}
.box17:after{
    content:"";
    width:100%;
    height:100%;
    background:rgba(2,162,221,.9);
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:all .5s ease 0s;
}
.box17:hover:after{
    opacity:1
}
.box17:hover{
    border: 1px solid #0000008c;
    box-shadow: 2px 2px 4px 2px #696d86;
}
.box17 img{
    width:100%;
    height:auto;
    transition:all 1.5s ease 0s
}
.box17 .box-content,.box17 .icon li a{
    position:absolute;
    transition:all .6s ease 0s
}
.box17:hover img{
    transform:scale(1.2)
}
.box17 .icon{
    width:100%;
    height:100%;
    list-style:none;
    padding:0;
    margin:0 auto;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.box17 .icon li a{
    width: 109px;
    height: 41px;
    line-height: 30px;
    margin:0 auto;
    top:50%;
    border:1px solid #fff;
    opacity:0;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
}
.box17:hover .icon li a{
    top:30%;
    opacity:1;
}
.box17 .icon li a:hover{
    background:#fff;
    color: #06536f;
    font-weight: bold;
}
.box17 .icon li:first-child a{
    left:-90%;
    right:0;
}
.box17:hover .icon li:first-child a{
    left:-55px;
}
.box17 .icon li:last-child a{
    right:-90%;
    left:0;
}
.box17:hover .icon li:last-child a{
    right:-55px;
}
.box17 .box-content{
    width:100%;
    padding: 14px 0px 10px 11px;
    background: rgba(0, 0, 0, 0.6);
    bottom:-100px;
    left:0;
    z-index: 1;
}
.box17:hover .box-content{
    bottom:0;
}
.box17 .title{
    font-size:18px;
    font-weight:700;
    color:#fff;
    margin-top:0;
    text-align: center;
}
.box17 .post{
    display:block;
    font-size:14px;
    color:#fff;
    text-align: center;
}

.nav-item {
    padding-right: 8px;
}

.footer-all .footer1 p{
    font-size: 20px;
}
#wrap{
    width:100%;
    height:100%;
    position:relative;
    background:white;
}
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;  
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}
.back-to-top{
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    width: 60px;
    height: 60px;
    background: #FC354C;
    border-radius: 100%;
    background-clip: padding-box;
    position: fixed;
    bottom: 40px;
    right: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.7s ease-out;
    transition: opacity 0.7s ease-out;
}
.back-to-top:hover{
    -webkit-box-shadow:none;
    box-shadow: none;
}
.visible{
    opacity: 1;
}
.fade-out{
    opacity: 0.8;
}
#wrap .nd{
    color: black;
    text-align: center;
    padding-top: 400px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.footer-right li a:hover{
    color: black;
}

.footer1 h7 a{
   color: #5ca3e8;
}
.footer1 h7 a:hover {
    color: #ff4a52;
    padding-left: 5px;
    transition: all 0.5s;
}
.footer-left p a{
    color: #87c1ff;
}
.footer-left p a:hover{
    color: #26efb7;
}