html,
body,
.view {
  height: 100%; 
}

@media only screen and (max-width: 374px) and (min-width: 320px){
        .khaigiang p.lich{
            font-size: 18px;
        }
        .khaigiang td.bang1{
            font-size: 10px;     
        }
        .khaigiang td.bang{
            font-size: 10px;
            padding: 12px 7px;
        }
        .footer-right ul{
            width: 205px;
            transform: translate(1px, 1px);
        }
        .footer-main .footer-right li.face{
            padding: 4px 18px;
        }
        .footer-main .footer-right li.mail{
            padding: 4px 14px;
        }
        .footer-main .footer-right li.twitter{
            padding: 4px 12px;
        }
        strong{
            font-size: 25px;
        }
        .footer-left, #footer-all{
            display: none;
        }
        .box17{
            margin-bottom: 20px;
        }
        .footer-right p.lienhe{
            padding-left: 10px !important;
        }
        #wrap .nd{
            top: 62% !important;
            left: 38% !important;
        }
        #circle{
            width: 100px !important;
            height: 100px !important;
        }
        .service{
            display: none;
        }
        .total{
            display: none;
        }
        .box2{
            flex-wrap: wrap;
        }
    }

@media only screen and (min-width: 375px) and (max-width: 424px){
        .box17{
            margin-bottom: 30px;
        }
        .footer-right ul{
            width: 400px;
            transform: translate(-4px, -2px);
        }
        .khaigiang p.lich{
            font-size: 29px;
            width: 496px;
        }
        body{
            width: 94vh;
        }
        .footer-left{
            display: none;
        }
        .footer-right p.lienhe{
            padding-left: 10px !important;
        }

          #footer-all .footer1{
            width: 51% !important;
            margin-left: -38px;
            margin-top: 32px;
        }
        #footer-all .footer2{
            width: 54% !important;
        }
        .message{
            display: none;
        }
        #wrap .nd{
            top: 58% !important;
            left: 43% !important;
        }
        #circle{
            width: 100px !important;
            height: 100px !important;
        }
        #wrap{
            height: 82% !important;
        }
        .service{
            display: none;
        }
        .total{
            display: none;
        }
        .box2{
            flex-wrap: wrap;
        }
    }
@media only screen and (min-width: 425px) and (max-width: 767px){
        .box17{
            margin-bottom: 30px;
        }
        .footer-right ul{
            width: 400px;
            transform: translate(-4px, -2px);
        }
        .khaigiang p.lich{
            font-size: 29px;
            width: 510px;
        }
        body{
            width: 100vh;
        }
        .footer-left{
            display: none;
        }
        .footer-right p.lienhe{
            padding-left: 10px !important;
        }
        #footer-all .footer1{
            width: 51% !important;
            margin-left: -38px;
            margin-top: 32px;
        }
        #footer-all .footer2{
            width: 54% !important;
        }
        .message{
            display: none;
        }
        #wrap .nd{
            top: 58% !important;
            left: 43% !important;
        }
        #circle{
            width: 110px !important;
            height: 110px !important;
        }
        #wrap{
            height: 77% !important;
        }
        .service{
            display: none;
        }
        .total{
            display: none;
        }
        .box2{
            flex-wrap: wrap;
        }
    }
@media only screen and (min-width: 768px) and (max-width: 1023px){
        .footer-right ul{
            width: 400px;
            transform: translate(-4px, -2px);
        }
        .khaigiang p.lich{
            font-size: 29px;
            width: 496px;
            margin-left: 121px;
        }      
        .mask {
            width: 100vw;
        }

        .view {
            width: 114.5vw;
        }
        .goclamviec{
            width: 722px;
        }
        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100vw;
        }
        .duongvien {
            width: 100vw;
        }
        .seriimg{
            width: 114vw;
        }
        .khaigiang td.bang1{
            font-size: 17px;
            padding: 4px 55px;
        }
        .khaigiang td.bang{
            font-size: 16px;
            padding: 12px 7px;
        }
        .footer-main{
            width: 100vw !important;
        }
        .footer-left{
            font-size: 14px !important;
            padding-left: 0px !important;
            padding-top: 22px !important;
        }
         #footer-all .footer1{
            width: 50% !important;
            margin-left: -38px;
            margin-top: 32px;
        }
        #footer-all .footer2{
            width: 50% !important;
        }
        .message{
            display: none;
        }
        #wrap .nd{
            top: 59% !important;
            left: 45% !important;
        }
        #circle{
            width: 100px !important;
            height: 100px !important;
        }
        #wrap{
            height: 115% !important;
        }
        .service{
            display: none;
        }
        .total{
            display: none;
        }
       
    }
@media only screen and (max-width: 1439px) and (min-width: 1024px){
        .khaigiang td.bang1{
            font-size: 19px;
            padding: 13px;
            width: 228px;
        }
        .khaigiang td.bang{
            font-size: 17px;
        }
        .khaigiang p.lich{
            font-size: 28px;
        }
       #wrap .nd{
            top: 64% !important;
            left: 46.5% !important;
        }
        #circle{
            width: 140px !important;
            height: 140px !important;
        }
        #wrap{
            height: 100% !important;
        }
        .total{
            right: 65px !important;
        }
}
@media only screen and (max-width: 1999px) and (min-width: 1440px){
        .khaigiang td.bang1{
            font-size: 21px;
            padding: 13px;
            width: 228px;
        }
        .khaigiang td.bang{
            font-size: 18px;
        }
        .khaigiang p.lich{
            font-size: 29px;
        }
        #wrap .nd{
            top: 65% !important;
            left: 47% !important;
        }
        #circle{
            width: 150px !important;
            height: 150px !important;
        }
        #wrap{
            height: 100% !important;
        } 
        .total{
            right: 90px !important;
        }
        .box2 img{
            width: 110%;
        }
        .team-social{
            width: 110% !important;
        }
        .item{
            margin: 0 35px !important;
        }
        .office{
            width: 110% !important;
        }
}
@media only screen and (max-width: 2399px) and (min-width: 2000px){
        .khaigiang td.bang1{
            font-size: 27px;
            padding: 13px;
            width: 260px;
        }
        .khaigiang td.bang{
            font-size: 27px;
        }
        .khaigiang p.lich{
            font-size: 35px;
        }
        #wrap .nd{
            top: 59% !important;
            left: 47% !important;
        }
        #circle{
            width: 170px !important;
            height: 170px !important;
        }
        #wrap{
            height: 100% !important;
        }
        .total{
            right: 230px !important;
        }
        .box2 img{
            width: 130%;
        }
        .team-social{
            width: 130% !important;
        }
        .item{
            margin: 0 75px !important;
        }
        .office{
            width: 130% !important;
        }
}
@media (min-width: 2400px){
        .khaigiang td.bang1{
            font-size: 30px;
            padding: 13px;
            width: 410px;
        }
        .khaigiang td.bang{
            font-size: 29px;
        }
        .khaigiang p.lich{
            font-size: 35px;
        }
        #wrap .nd{
            top: 60% !important;
            left: 48.3% !important;
        }
        #circle{
            width: 170px !important;
            height: 170px !important;
        }
        #wrap{
            height: 100% !important;
        }
        .total{
            right: 330px !important;
        }
        .box2 img{
            width: 150%;
        }
        .team-social{
            width: 150% !important;
        }
        .item{
            margin: 0 110px !important;
        }
        .office{
            width: 150% !important;
        }
}



.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }


@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; 
    } 
}

*
{
    margin:0;
    padding:0;
    
}

.logo img {
    width: 65px;
    height: 40px;
    margin-right: 23px;
    border-radius: 2px;
}

td.bang1 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 5px 0px 1px 0px;
}

.khaigiang {
    margin-bottom: 20px;
}

td.bang {
    font-size: 15px;
    padding: 5px 21px 5px 20px;
    text-align: center;
    background-color: #0aa0d91c;
    font-style: italic;
    color: black;
}


table {
}

.khaigiang .lich {
    font-size: 26px;
    text-align: center;
    text-shadow: 3px 0px 0px white;
}

.footer-right p.lienhe {
    font-size: 17px;
    color: white;
    padding: 18px 0 0 169px;
}

.footer-main .footer-right ul {
    margin: -47px 0 0 256px;
}

.footer-main .footer-right a {
    font-size: 24px;
    color: white;
}

.footer-main .footer-right li a {
    transition: all ease 0.3s;
}

.footer-main .footer-right li.face:hover {
    background-color: red;
}

.footer-main .footer-right li {
    display: inline;
    padding: 6px 38px 5px 32px;
}

.footer-main .footer-right li.twitter {
    background-color: #82c1d0;
    border-radius: 7px;
}

.footer-main .footer-right li.twitter:hover {
    background-color: #0c6e9a;
    cursor: pointer;
    transition: all 0.5s;
}













.footer-main .footer-right li.mail {
    background-color: #ce4b4b;
    border-radius: 7px;
    cursor: pointer;
}

.footer-main .footer-right li.mail:hover {
    background-color: #b30f1e;
    transition: all 0.5s;
}

.footer-main .footer-right li.face {
    background-color: #3a579a;
    border-radius: 2px;
}

.footer-main .footer-right li.face {
    background-color: #4b60c5;
    border-radius: 7px;
}

.footer-main .footer-right li.face:hover {
    background-color: #0909a5;
    transition: all 0.5s;
    cursor: pointer;
}
.footer-right li:hover{
    color: black;
}

.footer-main .footer-right {
    width: 50%;
    float: left;
    position: relative;
}

.footer-main .footer-left {
    width: 50%;
    float: left;
    font-size: 15px;
    color: white;
    padding: 17px 0 0 14px;
}

.footer-main {
    width: 100%;
    height: 64px;
    background-color: #000000eb;
}

.imgthree img {
    width: 25%;
    float: inherit;
    cursor: zoom-in;
}

.imgtwo img {
    width: 25%;
    float: left;
    cursor: zoom-in;
}

.imgfour img {
    width: 25%;
    float: left;
    cursor: zoom-in;
}

.imgone img {
    width: 25%;
    float: left;
    cursor: zoom-in;
}

textarea {
    font-size: 13px;
    padding-left: 6px;
    padding-top: 4px;
    height: 67px;
    width: 260px;
    border-radius: 7px;
    border: 2px solid #00BCD4;
    outline: none;
}

input[type="submit"] {
    width: 120px;
    height: 37px;
    margin-top: 15px;
    background-color: #6197bd;
    border: 2px solid #07cde6ab;
    border-radius: 10px;
    outline: none;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #1b1a1a;
    transition: all 0.5s;
    color: white;
    border-radius: 15px;
    border: 2px solid #00BCD4;
}



input[type="text"] {
    width: 243px;
    padding: 1px 0 0 5px;
    height: 40px;
    font-size: 13px;
    margin-bottom: 12px;
    border-radius: 7px;
    outline: none;
    border: 2px solid #00BCD4;
}

.message p.cauhoi {
    font-size: 21px;
}

.footer2 .address {
    font-size: 13px;
    padding: 0px 0 17px 0;
}

.footer2 .more {
    font-size: 17px;
}

.footer2 .allcn {
    font-size: 21px;
    padding-bottom: 15px;
}

#footer-all .footer1 h7 {
    font-size: 15px;
}

#footer-all .message {
    width: 30%;
    float: left;
    padding-top: 75px;
    margin-left: 39px;
}

#footer-all .footer2 {
    width: 33%;
    float: left;
    padding-top: 52px;
    padding-left: 40px;
}

#footer-all .footer1 {
    width: 33%;
    float: left;
    padding: 22px 0 0 70px;
}

#footer-all {
    background-color: #141c2f;
    color: #ffffffdb;
    width: 100%;
    height: 429px;
    font-family: "open sans", sans-serif;
}

.duongvien {
    width: 100%;
    background-color: blue;
    height: 6px;
    margin-bottom: 40px;
}

.goclamviec {
    font-size: 25px;
    text-align: center;
    margin-bottom: 18px;
    margin-bottom: 23px;
    font-weight: bold;
}


body {
    background: #d3ddf5;
}
.main{
    width: 300px;
    height: 326px;
    float:left;
    margin-right: 20px;
    text-align:center;
    background: white;
    color: black;
    margin-bottom: 10px;
    margin-top:5px;
}




.box17{
    position:relative;
    overflow: hidden;
    box-shadow: 5px 5px 6px 1px #404040;
}

.text-center{
    margin: 44px 0 18px 0;
    font-size: 26px;
    font-weight: bold;
}
.box17:after{
    content:"";
    width:100%;
    height:100%;
    background:rgba(2,162,221,.9);
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    transition:all .5s ease 0s;
}
.box17:hover:after{
    opacity:1
}
.box17:hover{
    border: 1px solid #0000008c;
    box-shadow: 2px 2px 4px 2px #696d86;
}
.box17 img{
    width:100%;
    height:auto;
    transition:all 1.5s ease 0s;
    border: 1px solid #616161;
}
.box17 .box-content,.box17 .icon li a{
    position:absolute;
    transition:all .6s ease 0s
}
.box17:hover img{
    transform:scale(1.2)
}
.box17 .icon{
    width:100%;
    height:100%;
    list-style:none;
    padding:0;
    margin:0 auto;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
.box17 .icon li a{
    width: 109px;
    height: 41px;
    line-height: 30px;
    margin:0 auto;
    top:50%;
    border:1px solid #fff;
    opacity:0;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: white;
}
.box17:hover .icon li a{
    top:30%;
    opacity:1;
}
.box17 .icon li a:hover{
    background:#fff;
    color: #06536f;
    font-weight: bold;
}
.box17 .icon li:first-child a{
    left:-90%;
    right:0;
}
.box17:hover .icon li:first-child a{
    left:-55px;
}
.box17 .icon li:last-child a{
    right:-90%;
    left:0;
}
.box17:hover .icon li:last-child a{
    right:-55px;
}
.box17 .box-content{
    width:100%;
    padding: 14px 0px 10px 11px;
    background: rgba(0, 0, 0, 0.6);
    bottom:-100px;
    left:0;
    z-index: 1;
}
.box17:hover .box-content{
    bottom:0;
}
.box17 .title{
    font-size:18px;
    font-weight:700;
    color:#fff;
    margin-top:0;
    text-align: center;
}
.box17 .post{
    display:block;
    font-size:14px;
    color:#fff;
    text-align: center;
}

.nav-item {
    padding-right: 8px;
}

#footer-all .footer1 p{
    font-size: 20px;
}
#wrap{
    width:100%;
    height:100vh;
    position:relative;
    background:white;
}
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;  
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid #162534;
    border-top: 8px solid #09f;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
}
.back-to-top{
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    width: 60px;
    height: 60px;
    background: #FC354C;
    border-radius: 100%;
    background-clip: padding-box;
    position: fixed;
    bottom: 40px;
    right: 20px;
    opacity: 0;
    -webkit-transition: opacity 0.7s ease-out;
    transition: opacity 0.7s ease-out;
}
.back-to-top:hover{
    -webkit-box-shadow:none;
    box-shadow: none;
}
.visible{
    opacity: 1;
}
.fade-out{
    opacity: 0.8;
}
#wrap .nd{
    position: absolute;
    color: white;
    text-align: center;
    top: 10%;
    font-size: 20px;
    font-weight: bold;
    left: 20%;
}



.footer1 h7 a{
   color: #5ca3e8;
}
.footer1 h7 a:hover {
    color: #ff4a52;
    padding-left: 5px;
    transition: all 0.5s;
}
.footer-left p a{
    color: #87c1ff;
}
.footer-left p a:hover{
    color: #26efb7;
}



.box6{
    background:#000;
    position:relative;
    overflow: hidden;
    border: 1px solid #f1f1f187;
}
.box6:hover{
    border: 1px solid #0000008c;
    box-shadow: 2px 2px 4px 2px #696d86;
    cursor: pointer;
}
.box6:after{
    content: "";
    background:rgba(0,0,0,.7);
    position:absolute;
    top:0;
    left:-36%;
    bottom:0;
    right:70%;
    transform:skew(20deg) translateX(-75%);
    transition: all 0.5s;
}
.box6:hover:after{
    transform:skew(20deg) translateX(0);
}
.box6 img{
    width:106%;
    height:auto;
    transition: all 0.5s;
}
.box6:hover img{
    opacity:.5;
    transform: scale(1.2);
}
.box6 .box-content{
    padding:20px;
    text-align:right;
    position:absolute;
    top:0;
    right:0;
    z-index:1
}
.box6 .title{
    font-size: 23px;
    font-weight:900;
    color:#fff;
    margin:0 0 10px;
    transform:scale(0);
    transition: all 0.5s;
}
.box6:hover .title{
    transform:scale(1);
}
.box6 .post{
    opacity:0;
    transform:translateX(40px);
    transition:all .35s ease 0s;
}
.box6 .post{
    display:block;
    font-size: 17px;
    color:#fff;
    margin-bottom:5px;
}
.box6:hover .post{
    opacity:1;
    transform:translateX(0);
}
@media only screen and (max-width:990px){
    .box6{margin-bottom:20px;}
}

.box7{
    position:relative;
     overflow: hidden;
     border: 1px solid #00000075;
 }
.box7:hover{
    border: 1px solid #0000008c;
    box-shadow: 2px 2px 4px 2px #696d86;
    background-color: #000;
    cursor: pointer;
}
.box7:after,.box7:before{
    content: "";
     width:100%;
     height:100%;
     background:rgba(11, 33, 47, 0.7);
     position:absolute;
     top:0;
     left:0;
     opacity:0;
     transition:all .5s ease 0s;
 }
.box7:after{
    background:rgba(255,255,255,.3);
    border:2px solid #0dab76;
    top:0;
    left:170%;
    opacity:1;
    z-index:1;
    transform:skewX(45deg);
    transition:all 1s ease 0s;
}
.box7:hover:before{
    opacity:1;
}
.box7:hover:after{
    left:-170%;
}
.box7 img{
    width:106%;
    height:auto;
}
.box7 .box-content{
    width:100%;
    position:absolute;
    bottom:-100%;
    left:0;
    transition:all .5s ease 0s;
}
.box7:hover .box-content{
    bottom:38%;
    text-align: center;
}
.box7 .title{
    display:block;
    font-size:22px;
    font-weight:700;
    color:#fff;
    margin:0 0 10px;
}
.box7 .post{
    display:block;
    font-size: 17px;
    color:#fff;
    margin-bottom:10px;
}
.box8 .title{
    display:inline-block;
}
@media only screen and (max-width:990px){
    .box7{margin-bottom:20px;}
}

.future{
    text-align: center;
    margin-top: 20px;
}
.khung{
    font-size: 60px;
    border: 1px solid #989898;
    border-radius: 4px;
    padding: 25px 0px;
    transition: all 0.4s;
    cursor: pointer;
}

.khung:hover {
    color: #3259a2;
    box-shadow: 17px 10px 61px -34px rgb(0, 0, 0);
    border: 1px solid black;
}
.text-k h3{
    font-size: 16px;
    line-height: 1.5;
    font-weight: bolder;
}
.nav-future{
    margin-bottom: 50px;
}

.primary-btn{
    display: inline-block;
    font-size: 15px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    padding: 14px 32px 12px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}
a.primary-btn{
    text-decoration: none;
    background-color: transparent;
}
.primary-btn:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 2px solid #00bfe7;
    border-top: 2px solid #00bfe7;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}
.primary-btn:after{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-right: 2px solid #00bfe7;
    border-bottom: 2px solid #00bfe7;
    content: "";
    z-index: -1;
    -webkit-transition: all, 0.7s;
    -o-transition: all, 0.7s;
    transition: all, 0.7s;
}
a.primary-btn:hover{
    text-decoration: none;
    outline: none;
    color: #fff;
}
.primary-btn:hover:before, .primary-btn:hover:after{
    height: 100%;
    width: 100%;
}


.service{
    background-color: #100028;
    color: white;
    padding-bottom: 50px;
    padding-top: 85px;
}
.service-item{
    margin-bottom: 45px;
}
.img-service{
    position: relative;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
}
.img-service:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00bfe7;
    content: "";
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.7s;
}
h4.go-tv{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 18px;
}
p.nd-tv{
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
.service-item:hover .img-service:after{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
p.us{
    color: #fff;
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
    font-weight: 400;
}
p.tv{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 25px;
    font-size: 36px;
}
p.tv:after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: #00bfe7;
    content: "";
}
.section-title{
    margin-bottom: 50px;
}
p.noidung{
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    color: #adadad;
    font-weight: 400;
    line-height: 26px;
    margin: -18px 17px 45px 0;

}

.total{
    position: absolute;
    top: 18px;
    right: 89px;
    color: white;
}
p.truycap{
    margin: 0;
}
span.dem{
    font-weight: 400;
}

.box2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.item{
    width: 300px;
    color: white;
    margin: 0 20px;
    text-align: center;
    position: relative;
}
.team-social{
    position: absolute;
    width: 100%;
    bottom: 91px;
    padding: 7px;
    visibility: hidden;
    opacity: 0;
}
.item:hover .team-social{
    background: rgb(2 4 16 / 87%);
     -webkit-transition: linear .4s;
    -moz-transition: linear .4s;
    -o-transition: linear .4s;
    transition: linear .4s;
    visibility: visible;
    opacity: 1;
}
.team-social ul{
    margin: 0px;
}
.team-social li{
    display: inline-block;
    list-style: none;

}
.team-social ul a{
    color: white;
    font-size: 28px;
    margin: 0 15px;
}
.office{
    color: black;
    margin-top: 15px;
}
.office h4{
    font-weight: 500;
    font-size: 21px;
}
.office p{
    font-size: 18px;
}