/* PC-large --Từ 1440px trở lên--*/ 
@media only screen and (min-width: 1440px){
    /* Header */
    /* .nav {
        display: flex;
    } */
    .nav-icon, .nav-icon-close {
        display: none;
    }

    /* Body */
    .show_courses_basic, .show_courses_advance {
        justify-content: center;
    }
    .line-container {
        width: 79%;
    }
    .modal-course-notif {
        width: 450px;
    }
}

/* * Từ 1024px tới 1439px */
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    /* .nav {
        display: flex;
    } */
    .nav-icon, .nav-icon-close {
        display: none;
    }
    .body-course {
        width: 80%;
    }
    .modal-course-notif {
        width: 40%;
    }
    .modal-course__img {
        width: 65%
    }
}

/* Từ 800px tới 1023px */
@media only screen and (min-width: 800px) and (max-width: 1023px){
    /* Header */
    /* .nav {
        display: flex;
    } */
    .nav-icon, .nav-icon-close{
        display: none;
    }
    .nav__list {
        padding: 0 1.5rem;
    }
    .line-container {
        width: 88%;
    }

    /* Body */
    .body-course {
        width: 67%;
    }
    .modal-course-notif {
        width: 47%;
    }
    .modal-course__img {
        width: 60%
    }
}

/* Tablet --Từ 550px tới 799px--*/
@media only screen and (min-width: 550px) and (max-width: 799px){
    /* Header */
    .nav-mobile {
        position: fixed;
        top: 0;
        left: 50%;
        right: 0;
        bottom: 0;
        background-color: white;
        flex-direction: column;
        padding-top: 6rem;
        box-shadow: -4px 0px 7px #00000080;
        animation: navMobile ease 1s;
    }
    .nav__list {
        padding: 0;
    }
    .nav__item {
        color: black;
        display: block;
        font-size: 1.7rem;
        padding: 1.7rem 0;
    }
    .nav__item:hover {
        border: none;
        background-color: #33333321;
    }
    .nav__item:hover.nav__item::after {
        display: none;
    }
    .nav-icon-close {
        position: absolute;
        top: 0;
        right: 6px;
        color: #ff0000d9;
        font-size: 3rem;
        padding: 1rem;
        display: none;
    }
    .nav-icon {
        padding: 0 2rem;
        color: #333131;
    }
    .header-login {
        display: none;
    }
    .nav-icon-open {
        position: absolute;
        top: 10px;
        right: 16px;
        color: white;
        font-size: 3rem;
        padding: 1.2rem;
        display: block;
    }
    .line-container {
        width: 93%;
    }
    .body-course {
        width: 70%;
    }
    /* Footer */
    .footer-feedback__form-submit {
        width: 92%;
        margin: 0;
    }
    .footer-feedback__form-input {
        margin-bottom: 1rem;
    }
    .footer {
        flex-wrap: wrap;
    }
    .footer-contact {
        width: 50%;
    }
    .footer-intro__img {
        width: 150px;
    }
    .modal-course-notif {
        width: 60%;
    }
    .modal-course__img {
        width: 65%
    }

    /* Keyframe */
    @keyframes navMobile {
        from{
            left: 65%;
        }
        to{
            left: 50%;
        }
    }
}

/* Mobile-large --Từ 320px tới 554px--*/
@media only screen and (min-width: 320px) and (max-width: 554px){
    /* Header */
    .nav {
        display: none;
    }
    .nav-mobile {
        position: fixed;
        left: 30%;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        flex-direction: column;
        padding-top: 6rem;
        box-shadow: -4px 0px 7px #00000080;
        animation: navMobile ease 1s;
    }
    .nav__list {
        padding: 0;
    }
    .nav__item {
        color: black;
        display: block;
        font-size: 1.7rem;
        padding: 1.7rem 0;
    }
    .nav__item:hover {
        border: none;
        background-color: #33333321;
    }
    .nav__item:hover.nav__item::after {
        display: none;
    }
    .nav-icon-close {
        position: absolute;
        top: 0;
        right: 6px;
        color: #ff0000d9;
        font-size: 3rem;
        padding: 1rem;
        display: none;
    }
    .nav-icon {
        padding: 0 2rem;
        color: #333131;
    }
    .header-login {
        display: none;
    }
    .nav-icon-open {
        position: absolute;
        top: 10px;
        right: 16px;
        color: white;
        font-size: 3rem;
        padding: 1.2rem;
        display: block;
    }

    /* Body */
    .show_courses_basic, .show_courses_advance {
        justify-content: center;
    }
    .body-course {
        width: 81%;
    }
    .line-container {
        width: 285.6px;
    }

    /* Footer */
    .footer {
        flex-direction: column;
    }
    .footer-contact {
        width: 100%;
    }
    .footer-intro__img {
        width: 150px;
    }
    .footer-feedback__form-submit {
        width: 92%;
        margin: 0;
    }
    .footer-feedback__form-input {
        margin-bottom: 1rem;
    }
    .footer-copyright {
        justify-content: center;
        font-size: 1.4rem;
    }
    .view {
        display: none;
    }
    .modal-course-notif {
        width: 100%;
    }
    .modal-course__img {
        width: 60%
    }
}